.thelist {
    min-height: 100vh;
    margin-top: 120px;
    padding: 10vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}

.addpost {
    padding: 30px 10px 30px 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    background-clip: padding-box;
    box-shadow: 5px 5px 5px rgba(46, 54, 68, 0.1);
    box-sizing: border-box;
}

.myedit, .addpost input {
    width: 60vw;
    margin: 2vw;
    padding: 1vw;
    color: rgb(211, 211, 211) !important;
    background-color: rgba(255, 255, 255, 0.2) !important;
    border: 2px solid rgba(161, 224, 167, 0.1);
    border-radius: 5px;
    outline: none;
}


.addpost input[type="file"]::-webkit-file-upload-button {
    margin: 10px;
    width: 120px;
    height: 30px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 5px 5px 5px rgba(46, 54, 68, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.07);
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.addpost button {  
    margin: 10px;
}

.preview * {
    font-weight: 600;
}

.tags {
    display: flex;
    flex-direction: row !important;
    justify-content: space-around;
    align-items: center;
}

.mytag {
    margin: 10px;
    width: fit-content;
    height: 30px;
    padding: 0 10px 0 10px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    border: 2px solid transparent;
    border-radius: 5px;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    
    transition-duration: 0.4s;
}

.mytag:hover {
    background-color: rgba(255, 0, 0, 0.2) !important;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3) !important;
}







.textblocks {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.textblocks * {
    margin: 1vw 0 1vw 0;
    box-sizing: border-box;
    font-weight: 900;
}

.blockheader {
    font-size: 24px;
}

.blockparagraph {
    font-size: 16px;
}

.listitem {
    margin: 1vw;
}

.delimiter {
    align-self: center;
    font-size: 36px;
}

.quote {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quotequote {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.firstq {
    margin: 1vw;
}

.quotequote blockquote {
    margin: 1vw;
    padding: 0;
}

.secondq {
    margin: 1vw;
}

.quoteby {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    font-size: 14px;
}

.quoteby p {
    text-align: center;
}

.linktool {
    display: flex;
    justify-content: center;
    align-items: center;
}

.linktool b {
    font-size: 16px;
}

.warning {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 5px 5px 5px rgba(46, 54, 68, 0.05);
    border-left: 5px solid rgba(255, 230, 0, 0.7);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.warnsign {
    color:rgba(255, 230, 0, 0.7);
    height: 100%;
    font-size: 16px;
    margin: 2vw !important;
}

.warndiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.warndiv b {
    font-size: 14px;
}

.warndiv p {
    font-size: 16px;
}