.navbar {
    position: fixed;
    width: 100%;
    height: 50px;
    background: rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}

.navbar div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbarlink {
    height: 100%;
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.navbarlink h1 {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbarInfoDiv {
    display: flex;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    font-weight: 900;
}

.navbarInfoDiv * {
    margin-left: 5px;
    margin-right: 5px;
}

.logger {
    width: 90px;
    height: 30px;
    background: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 5px 5px 5px rgba(46, 54, 68, 0.1);
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}