.thelist {
    min-height: calc(100vh - 120px);
    margin-top: 50px;
    padding: 10vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.messg {
    font-weight: 900;
}