.forg {
    position: relative;
    background: rgb(141, 158, 141);
    padding: 0;
    width: 300px;
    height: 200px;
    border: solid 20px transparent;
    box-sizing: border-box;
    box-shadow: 10px 10px 10px  rgba(46, 54, 68, 0.2);
    border-radius: 5px;
}

.messg {
    background: rgba(238, 255, 0, 0.7);
    border: 2px solid rgba(238, 255, 0, 0.15);
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(46, 54, 68, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    padding: 5px;
}

.blurer {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('../../../../statics/drops-4192309_960_720.webp');
    filter: grayscale(0.3) blur(40px);
    background-position: center;
    background-size: cover;
    border: solid 20px transparent;
}

.former {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.former input {
    width: 250px;
    height: 40px;
    border-radius: 3px;
    outline: none;
    box-sizing: border-box;
}

.former input[type=email] {
    background-color: rgba(131, 196, 131, 0.1) !important;
    padding-left: 20px;
    border: solid 1px rgba(255, 255, 255, 0.2);
}

.former input[type=email]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 1;
}

.formersubmit {
    padding-left: 0;
    background: rgba(255, 255, 255, 0);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 5px 5px 5px rgba(46, 54, 68, 0.1);
    cursor: pointer;
}








@media screen and (max-width: 425px) {
    
    .forg {
        width: 250px;
        height: 150px;
        border: none;
    }

    .blurer {
        border: none;
        width: 270px;
        height: 150px;
        left: calc(50% - 135px);
        top: calc(50% - 75px);
    }

    .former input[type='email'] {
        width: 220px;
    }

}