.logger {
    width: 90px;
    height: 30px;
    background: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 5px 5px 5px rgba(46, 54, 68, 0.1);
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}