.footer {
    margin-bottom: 0;
    width: 100%;
    height: 70px;
    background: rgb(150, 150, 163);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.inline {
    display: flex;
}

.inline * {
    margin-left: 10px;
    margin-right: 10px;
}