.grff {
    background: rgb(113, 142, 255);
    height: 30vh;
    min-height: 145px;
    width: 80vw;
    min-width: 480px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.grffBl {
    background: rgb(11, 45, 184);
    width: 10px;
}

.mytest {
    background: rgb(147, 160, 211);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    margin: auto;
}

.mynrs {
    background: rgb(147, 160, 211);
    height: 100%;
    width: 30px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
}

.mynr {
    background: rgb(59, 230, 230);
}

.mydate {
    background: rgb(88, 167, 219);
    width: calc(80vw - 30px);
    min-width: 450px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 30px;
}

.mydateNr {
    background: rgb(23, 77, 112);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}