.bigdiv {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 1vw; 
}

.myform {
    width: 100%;
    padding: 1vw 0 1vw 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.myform input[type="submit"]{
    width: 100%;
    height: 36px;
    margin-top: 10px;
    background: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 5px 5px 5px rgba(46, 54, 68, 0.1);
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.myform select {
    width: 100%;
    height: 36px;
    background: rgba(39, 104, 43, 0.15);
    color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(161, 224, 167, 0.1);
    border-radius: 5px;
    outline: none;
}

.myform option {
    padding: 10px 0 10px 0;
    background: rgba(39, 104, 43, 0.15);
    color: rgba(0, 0, 0, 0.7);
}