.formdiv {
    margin: 10px 0 10px 0;
    width: 100%;
}

.dashformdiv {
    margin: 10px 0 10px 10px;
    width: 100%;
}

.underform {
    width: 100%;
    margin-bottom: 10px;
}

.searchform {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.searchform select {
    width: 100%;
    height: 30px;
    background: rgba(39, 104, 43, 0.15);
    border: 2px solid rgba(161, 224, 167, 0.1);
    border-radius: 5px;
    outline: none;
}

.searchform option {
    padding: 10px 0 10px 0;
    background: rgba(39, 104, 43, 0.15);
}





@media screen and (max-width: 1024px) {

    .searchform {
        align-items: flex-start;
    }    

    input[type='submit'] {
        width: 100px;
    }

    .dashformdiv {
        margin: 0;
    }

}